#!/bin/bash -xe

# Install Prerequsites
yum install -y vim bash-completion git iproute-tc telnet golang zsh openssl


# Install kubectl
curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
chmod +x kubectl
mv kubectl /usr/local/bin/

# Install etcdctl [skipped]
#git clone -b v3.5.0 https://github.com/etcd-io/etcd.git
#cd etcd
#./build.sh
#mv bin/* /usr/local/bin/
#etcd -h
#ETCDCTL_API=3 etcdctl -h


# Install helm-3
curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 > get_helm.sh
chmod 700 get_helm.sh
./get_helm.sh
helm help

# Install kops
curl -Lo kops https://github.com/kubernetes/kops/releases/download/$(curl -s https://api.github.com/repos/kubernetes/kops/releases/latest | grep tag_name | cut -d '"' -f 4)/kops-linux-amd64
chmod +x kops
sudo mv kops /usr/local/bin/kops


# Install ZSH + Power10k
sudo su - ec2-user
sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)"
git clone https://github.com/romkatv/powerlevel10k.git $ZSH_CUSTOM/themes/powerlevel10k
sudo mv /tmp/zshrc .zshrc
chown $USER:$USER .zshrc

# Change shell to zsh [skipped]
#cp -p /etc/passwd /etc/passwd.bk
## for ec2-user
#sed -i 's/\/home\/ec2-user:\/bin\/bash/\/home\/ec2-user:\/bin\/zsh/g' /etc/passwd
## for root user
#sed -i 's/root:\/bin\/bash/root:\/bin\/zsh/g' /etc/passwd
